/*.side-bar-displaying-button-div{
    padding: 2px;
    background-color: lightblue;
    border: solid 1px lightblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#notes-control-panel{
    box-shadow: 0px -8px lightblue;
    background-color: lightblue;
    border: solid 1px lightblue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}*/

/*#notes-control-panel{
    box-shadow: 0px -26px 0px -15px buttonface;
}*/

.time-box{
    position: relative;

    border: 1px solid black;
    padding: 2px;
    min-width: 49px;
    max-width: 49px;
    min-height: 49px;
    max-height: 49px;
    /*min-width: 10em;
    max-width: 10em;
    min-height: 6em;
    max-height: 6em;*/

    text-overflow: ellipsis;
    overflow: hidden;
    background-color: white;
}

.time-box-interval-text{
    font-size: 0.5em;
    background-color: aquamarine;
    pointer-events: none;
}

.note-box{
    pointer-events: none;
    max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
    overflow: hidden;
}

.small-icon{
    min-width: 20px; /* Larger than usual icon? */
    pointer-events: none; /* Must not prevent clicking the button they are in. */
}

/* TODO: ei liene käytössä?*/
.selected-time-box{
    border: 2px dashed green;
}

.selected-time-box-range{
    border: 2px dotted cyan;
}

.start-range-selection-time-box{
    /*border: 2px dotted blue;*/
    /*box-shadow: 2px 2px 0px 0px red;*/
}

/* TODO: ei käytössä? */
.time-box.start-range-selection-time-box{
    /*border-left: 2px dotted cyan;
    border-top: 2px dotted cyan;
    border-right: 0px dotted cyan;
    border-bottom: 0px dotted cyan;*/
    border: 2px dotted red;
}

#life-calendar{
    /*border: solid 2px black;
    border-radius: 5px;*/
    max-height: 90vh;
    overflow-y: scroll;

    background-color: white;
}

.past-colored{
    /*background-color: #373737;*/
    background-color: #000000;
}

.future-colored{
    background-color: white;
}

.ds-selector{
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px dashed #007bff;
    /*display: none; Miksi?
    pointer-events: none; Tämä rivi korjaa IE:llä tulevan ongelman? Kopioitu lähdekoodista */
}

footer{
    min-height: 15px;
}

/* Make scroll bar always visible to prevent "jumping" when content grows larger
than available height or shrinks smaller. */
html{
    overflow-y: scroll;
}

input[type='color']{
    height: 40px;
}