.time-box{
    border: 1px solid black;
    padding: 2px;
    min-width: 49px;
    max-width: 49px;
    min-height: 49px;
    max-height: 49px;
    /*min-width: 10em;
    max-width: 10em;
    min-height: 6em;
    max-height: 6em;*/
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: white;
}

.time-box-interval-text{
    font-size: 0.5em;
    background-color: aquamarine;
    pointer-events: none;
}

.note-box{
    pointer-events: none;
    max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
    overflow: hidden;
}

.small-icon{
    min-width: 20px; /* Larger than usual icon? */
    pointer-events: none; /* Must not prevent clicking the button they are in. */
}

.selected-time-box{
    border: 2px dashed green;
}

.selected-time-box-range{
    border: 2px dotted cyan;
}

#life-calendar{
    border: 2px dashed red;
    max-height: 90vh;
    overflow-y: scroll;
}

.past-colored{
    /*background-color: #373737;*/
    background-color: #000000;
}

.future-colored{
    background-color: #ffffff;
}

footer{
    min-height: 15px;
}

input[type='color']{
    height: 40px;
}